<!DOCTYPE html>
<html lang="en">
<head>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="../semantic-ui/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../semantic-ui/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../estimator.css">
</head>
<body>
<div class="ui main container">
    <h1 class="ui center aligned header">Cell-particle association rate calculator</h1>
    <div class="ui section divider"></div>
    <h2 class="ui  header">Best fit rate: <span class="shown-nte">{{ '{:.2f}'.format(10**9 * data['Rate (best)'][0]) }}</span> nm s<sup>-1</sup></h2>
    {% if max_data is not none %}
        {% if data['Rate (best)'][0] >= max_data['Rate (best)'][0] * 0.99 %}
        <h3 class="ui header">
            <span class="nte-warning">
            Warning! Max detectable rate: {{ '{:.2f}'.format(10**9 * max_data['Rate (best)'][0]) }} nm s<sup>-1</sup>
            </span>
        </h3>
        {% endif %}
        <div class="ui content">
            Max detectable rate: {{ '{:.2f}'.format(10**9 * max_data['Rate (best)'][0]) }} nm s<sup>-1</sup>
        </div>
    {% endif %}
    <div class="ui content">
        Association rate range: {{ '{:.2f}'.format(10**9 * data['Rate (lower)'][0]) }} to {{ '{:.2f}'.format(10**9 * data['Rate (upper)'][0]) }} nm s<sup>-1</sup>
    </div>


    <div class="ui content">
        Particle name: {{ data['Particle name'][0] }}
    </div>
    <div class="ui content">
        Cell line: {{ data['Cell line'][0] }}
    </div>

    <div class="ui horizontal divider"></div>
    <div class="ui grid">
        <div class="eight wide column">
            <h4 class="ui horizontal divider header">
                <i class="line chart icon"></i>
                Plot of true data and model
            </h4>
            <div class="ui segment">
                <img class="ui image" src= "/result_img/{{id}}_model.png">
                <!--<img class="ui image" src="/result_img/{{id}}.png">-->
            </div>
        </div>
        <div class="eight wide column">
            <h4 class="ui horizontal divider header">
                <i class="database icon"></i>
                Raw data
            </h4>
            <table class="ui striped table">
                <thead class="center aligned">
                <th>Time (mins)</th>
                <!--<th>Particles per cell (actual)</th>-->
                <th>Particles per cell (model)</th>
                </thead>
                {% for _, row in data.iterrows() %}
                <tr class="center aligned">
                    <td>{{ row['Time (mins)'] }}</td>
                    <!--<td></td>-->
                    <!--<td>{{ row['Particles per cell (true)'] }}</td>-->
                    <td>{{ row['Particles per cell (model best)'] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="ui segment">
        Your unique ID is {{ id }}.
        <div>Your unique URL is <a href="{{ request.url }}">{{ request.url }}</a> (this site).</div>
    </div>
    <a href="/estimator"><div class="ui bottom attached button" tabindex="0"><i class="home icon"></i>Return to calculator</div></a>
</div>
</body>
</html>