<!DOCTYPE html>
<html lang="en">
<head>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="../semantic-ui/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../semantic-ui/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../estimator.css">
</head>
<body>
    <div class="ui main container">
        <h1 class="ui center aligned header">Cell-particle association rate calculator</h1>
        <div class="ui section divider"></div>
        <div class="ui message">
            Uh-oh. We've run into an issue trying to analyze your data.
            Please contact the authors with the ID below (or this URL) and we should be able to help.
        </div>
        <div class="ui segment">
            Your unique ID is {{ id }}. If you have seen this error more than once, please send this issue to
            <div>Your unique URL is <a href="{{ request.url }}">{{ request.url }}</a> (this site). </div>
        </div>
    </div>
</body>
</html>