<!DOCTYPE html>
<html lang="en">
<head>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="../semantic-ui/semantic.min.js"></script>
    <script src="../waiting_result.js"></script>
    <link rel="stylesheet" type="text/css" href="../semantic-ui/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../estimator.css">
</head>
<body>
    <div class="ui main container">
        <h1 class="ui center aligned header">Cell-particle association rate calculator</h1>
        <div class="ui section divider"></div>
        <div class="ui segment big_wait">
            <div class="ui active dimmer">
                <div class="ui massive text loader">Calculating now. For static adherent incubation, this can take a couple of hours.
                    (A good time for a cup of tea or a break!) This page will update when finished.</div>
            </div>
        </div>
        <div class="ui segment">
            Your unique ID is {{ id }}.
            <div>Your unique URL is <a href="{{ request.url }}">{{ request.url }}</a> (this site). </div>
        </div>
    </div>
</body>
</html>